<h1>New Upload</h1>

<%= form_for(@upload) do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.file_field :name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', uploads_path %>
